@import "tailwindcss";

:root {
  /* Palette chính */
  --primary: #65A59A;
  --secondary: #04364A;
  --thirty: #176B87;
  --forty: #DAFFFB;

  /* Map cho theme */
  --background: var(--forty);
  --foreground: var(--secondary);
}

html,
body {
  height: 100%;
  min-height: 100%;

  background: var(--background);
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind theme bridge */
@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-thirty: var(--thirty);
  --color-forty: var(--forty);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Pixel art */
.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}